body {
    margin:0;
}

.container {
    background-color: black;
    height: 100vh;
    width: 100%;
    position: relative;
}

.animacja {
    border: 2px solid white;
    height: 500px;
    width: 500px;
    position: absolute;
    margin: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.liczba {
    color:white;
    display:inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 100px;
    background-color: black;
}

.tekst p {
    text-align: center;
    font-size: 50px;
    font-family: fantasy;
    height: auto;
    margin-top:0;
}
.serce img{
    width: 100%;
}


#liczba10 {
    animation-name: countdown10;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}

#liczba9 {
    animation-name: countdown9;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}

#liczba8 {
    animation-name: countdown8;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}

#liczba7 {
    animation-name: countdown7;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}

#liczba6 {
    animation-name: countdown6;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}

#liczba5 {
    animation-name: countdown5;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}

#liczba4 {
    animation-name: countdown4;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}

#liczba3 {
    animation-name: countdown3;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}

#liczba2 {
    animation-name: countdown2;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}

#liczba1 {
    animation-name: countdown1;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}

#i-love {
    animation-name: countdown0;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}


@Keyframes countdown10 {
    
    0% {
        opacity:1;
    }
    
    10% {
        opacity:0;
    }
    
    20% {
        opacity:0;
    }
    
    30% {
        opacity:0;
    }
    
    40% {
        opacity:0;
    }
    
    50% {
        opacity:0;
    }
    
    60% {
        opacity:0;
    }
    
    70% {
        opacity:0;
    }
    
    80% {
        opacity:0;
    }
    
    90% {
        opacity:0;
    }
    
    100% {
        opacity:0;
    }

}

@Keyframes countdown9 {
    
    0% {
        opacity:0;
    }
    
    10% {
        opacity:1;
    }
    
    20% {
        opacity:0;
    }
    
    30% {
        opacity:0;
    }
    
    40% {
        opacity:0;
    }
    
    50% {
        opacity:0;
    }
    
    60% {
        opacity:0;
    }
    
    70% {
        opacity:0;
    }
    
    80% {
        opacity:0;
    }
    
    90% {
        opacity:0;
    }
    
    100% {
        opacity:0;
    }

}

@Keyframes countdown8 {
    
    0% {
        opacity:0;
    }
    
    10% {
        opacity:0;
    }
    
    20% {
        opacity:1;
    }
    
    30% {
        opacity:0;
    }
    
    40% {
        opacity:0;
    }
    
    50% {
        opacity:0;
    }
    
    60% {
        opacity:0;
    }
    
    70% {
        opacity:0;
    }
    
    80% {
        opacity:0;
    }
    
    90% {
        opacity:0;
    }
    
    100% {
        opacity:0;
    }

}

@Keyframes countdown7 {
    
    0% {
        opacity:0;
    }
    
    10% {
        opacity:0;
    }
    
    20% {
        opacity:0;
    }
    
    30% {
        opacity:1;
    }
    
    40% {
        opacity:0;
    }
    
    50% {
        opacity:0;
    }
    
    60% {
        opacity:0;
    }
    
    70% {
        opacity:0;
    }
    
    80% {
        opacity:0;
    }
    
    90% {
        opacity:0;
    }
    
    100% {
        opacity:0;
    }

}

@Keyframes countdown6 {
    
    0% {
        opacity:0;
    }
    
    10% {
        opacity:0;
    }
    
    20% {
        opacity:0;
    }
    
    30% {
        opacity:0;
    }
    
    40% {
        opacity:1;
    }
    
    50% {
        opacity:0;
    }
    
    60% {
        opacity:0;
    }
    
    70% {
        opacity:0;
    }
    
    80% {
        opacity:0;
    }
    
    90% {
        opacity:0;
    }
    
    100% {
        opacity:0;
    }

}

@Keyframes countdown5 {
    
    0% {
        opacity:0;
    }
    
    10% {
        opacity:0;
    }
    
    20% {
        opacity:0;
    }
    
    30% {
        opacity:0;
    }
    
    40% {
        opacity:0;
    }
    
    50% {
        opacity:1;
    }
    
    60% {
        opacity:0;
    }
    
    70% {
        opacity:0;
    }
    
    80% {
        opacity:0;
    }
    
    90% {
        opacity:0;
    }
    
    100% {
        opacity:0;
    }

}

@Keyframes countdown4 {
    
    0% {
        opacity:0;
    }
    
    10% {
        opacity:0;
    }
    
    20% {
        opacity:0;
    }
    
    30% {
        opacity:0;
    }
    
    40% {
        opacity:0;
    }
    
    50% {
        opacity:0;
    }
    
    60% {
        opacity:1;
    }
    
    70% {
        opacity:0;
    }
    
    80% {
        opacity:0;
    }
    
    90% {
        opacity:0;
    }
    
    100% {
        opacity:0;
    }

}

@Keyframes countdown3 {
    
    0% {
        opacity:0;
    }
    
    10% {
        opacity:0;
    }
    
    20% {
        opacity:0;
    }
    
    30% {
        opacity:0;
    }
    
    40% {
        opacity:0;
    }
    
    50% {
        opacity:0;
    }
    
    60% {
        opacity:0;
    }
    
    70% {
        opacity:1;
    }
    
    80% {
        opacity:0;
    }
    
    90% {
        opacity:0;
    }
    
    100% {
        opacity:0;
    }

}

@Keyframes countdown2 {
    
    0% {
        opacity:0;
    }
    
    10% {
        opacity:0;
    }
    
    20% {
        opacity:0;
    }
    
    30% {
        opacity:0;
    }
    
    40% {
        opacity:0;
    }
    
    50% {
        opacity:0;
    }
    
    60% {
        opacity:0;
    }
    
    70% {
        opacity:0;
    }
    
    80% {
        opacity:1;
    }
    
    90% {
        opacity:0;
    }
    
    100% {
        opacity:0;
    }

}

@Keyframes countdown1 {
    
    0% {
        opacity:0;
    }
    
    10% {
        opacity:0;
    }
    
    20% {
        opacity:0;
    }
    
    30% {
        opacity:0;
    }
    
    40% {
        opacity:0;
    }
    
    50% {
        opacity:0;
    }
    
    60% {
        opacity:0;
    }
    
    70% {
        opacity:0;
    }
    
    80% {
        opacity:0;
    }
    
    90% {
        opacity:1;
    }
    
    100% {
        opacity:0;
    }

}

@Keyframes countdown0 {
    
    0% {
        opacity:0;
    }
    
    10% {
        opacity:0;
    }
    
    20% {
        opacity:0;
    }
    
    30% {
        opacity:0;
    }
    
    40% {
        opacity:0;
    }
    
    50% {
        opacity:0;
    }
    
    60% {
        opacity:0;
    }
    
    70% {
        opacity:0;
    }
    
    80% {
        opacity:0;
    }
    
    90% {
        opacity:0;
    }
    
    100% {
        opacity:1;
    }

}
