body {
    margin: 0;
    
    section {
        padding: 60px 30px;
    }
    
    h1 {
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    }

    h3 {
        font-family: 'Droid Serif', serif;
    }

    h5 {
        font-family:'Montserrat', sans-serif;
    }

    h6 {
        font-family: 'Droid Serif', serif;
        color:#777777;
    }

    p {
        font-family: 'Roboto Slab', serif;
        color:#777777;
    }
}




