@import "../variables/variables";

.header-form {
    width: 20%;
    right: 10%;
    position:absolute;
    transform:translateY(-50%);
    top:50%; 
    
    h2{
        color:$bialy;
        font-family: $font;
        
        span {
            color:$zolty;
        }
    }
    
    #main-form {
        background-color: $niebiesko-granatowy;
        padding:10px;
    }
}