.outer {
    width: 400px;
    height: 50vh;
    border:5px solid red;
    overflow: hidden;
}

.bgimg {
    background-image: url('../img/flame-1128636_960_720.jpg');
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    transition: all 0.5s;
}

.bgimg:hover {
    
    transform: scale(1.5);
}