* {
    box-sizing: border-box;
}

.flip-box {
    height: 300px;
    width: 300px;
    position:relative;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    color:white;
    transition: all 0.5s;
}

.front {
  background-color: orange;
  z-index:10;
  transform: rotate(0deg);
  backface-visibility: hidden;
}

.back {
  background-color: blue;
  transform: rotateY(180deg);
}
.flip-box:hover .front {
    transform: rotateY(180deg);
}

.flip-box:hover .back {
    transform: rotateY(0deg);
}