.center {
    text-align: center;
}

.center-block {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.vcenter {
    padding-top:30px;
    padding-bottom: 30px;
    text-align: center;
}

.vcenter-shortsingleline {
    height: auto;
    width: 100%;
    line-height: 20px;
    text-align: center;
}
.center-table {
    display: table;
    height: 250px;
    width: 100%;
    text-align: center;
}

.center-table p {
  display: table-cell;
  padding: 20px;
  vertical-align: middle;
}
