.center {
    text-align: center;
}

.center-block {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.vcenter {
    padding-top:30px;
    padding-bottom: 30px;
    text-align: center;
}

.vcenter-shortsingleline {
    height: auto;
    width: 100%;
    line-height: 20px;
    text-align: center;
}
.center-table {
    display: table;
    height: 250px;
    width: 100%;
    text-align: center;
}

.center-table p {
  display: table-cell;
  padding: 20px;
  vertical-align: middle;
}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 10em
}

img {
    display:block;
    margin-left:auto;
    margin-right: auto;
}

div.container {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

div.translate {
    position:relative;
    background-color: yellow;
    height: 100vh;
    width: auto;
}

div.pan {
    position: absolute;
    height: 50vh;
    width: auto;
    background-color: green;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

div.translate2 {
    background-color: yellow;
    height: 10em;
    width: auto;
    display: flex;
	align-items: center;
	justify-content: center;
    margin: 15px;
}

div.pan2 {
    height: 5em;
    width: 50%;
    background-color: green;
    
}

div.translate3 {
    background-color: yellow;
    height: 10em;
    width: auto;
    position: relative;
}

div.pan3 {
    height: 5em;
    width: 50%;
    background-color: green;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}