.header {
    height:80vh;
}

/* powyżej 1170px */


@media all and (min-width: 1170px) {
    .header img {
    height: 140vh;
    width:100%;
    }
    .header {
    position:relative;
    }
    #header-title{
    position:absolute;
    top:70%;
    color: #eee;
    font-size: 30px;
    }
    
    h2 {
    text-align: left;  
    }
        
}

/* poniżej 1170px */


@media all and (max-width: 1169px) {
    .header img {
     height: 100vh;
     width:100%;
    }
    
    .header img {
    content: url('man-2.jpg');
    }
    

    .header {
    position:relative;
    }
    
    #header-title {
    position:absolute;
    top:0%;
    right:0%;
    color: white;
    font-size: 20px;
    left:auto;
    }
    
    h2 {
        text-align: left;
    }
}

/* poniżej 991px */

@media all and (max-width: 991px) {
    .header img {
    content: url('man-1.jpg');
    height: 60vh;
    }
    
   .header {
    position:static;
    }
    
    
    #header-title{
    position:static;
    left:0;
    right:0;
    text-align: center;
    color:black;
    }
    
    h2 {
        text-align: center;
    }
}