* {
	box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    font-family: 'Verdana', sans-serif;
	background-color: white;
	color: black;
}

figure {
    margin: 0;
    
}
header img {
    width:100%;
    height: auto;
}

div {
    background-image: url(man-2.jpg);
    background-size: cover;
    
}

 h1,h2 {
    left:0;
    right:0;
    text-align: center;
}

#header-title {
    left: 20px;
}