@import "../mixins/mixins";
@import "../variables/variables";

#main-header {
    height: 100vh;
    background: url(../../img/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: $font;
    position:relative;
    
    .header-inner{
        display:inline-block;
        
        &#logo{
            float:left;
            
            .fa,
            h1{
                display:inline-block;
            }
            
            .fa {
                color:$zolty;
            }
            
            h1{
                color:$bialy;
            }
        }
        
        &#header-contact{
            padding-top: 20px; 
            float:right;
            width:15%;
            
            .fa{
                color:$bialy;
                font-size:36px;
                float:left;
                margin-right: 5px;
            }
            
            span{
                color:$bialy;
                display:block;
                line-height: 20px;
                font-family:$font;
            }
            
            
            
        }
    }
}

