.tranzycja{
    width: 150px;
    height: 150px;
    transition: all 3s;
    margin: 10px auto;
}

#tranzycja1 {
    background-color: red;
}

#tranzycja2 {
    background-color: blue;
}

#tranzycja3 {
    background-color: green;
}

#tranzycja1:hover {
    width: 300px;
}

#tranzycja2:hover {
    height: 300px;
}

#tranzycja3:hover {
    height: 300px;
    width:  300px;
}