.koszyk {
    width: 100%;
}


@media all and (min-width:992) {
    .koszyk > .produkt {
        width: 20%;
    }
}

@media all and (min-width:481, max-width: 992px) {
    .koszyk > .produkt {
        width: 30%;
}

@media all and (max-width: 480px) {
    .koszyk > .produkt {
        width: 100%;
    }
}