
@media only and (min-width: 993px) {
    .produkt {
        width: 22%;
    }
}

@media only and (max-width: 992px) {
    .produkt {
        width: 50%;
    }
}

@media only and (max-width: 480px) {
    .produkt {
        width: 100%;
    }
}