body {
    background-color: #98fb98;
}

.produkt{
    width: 22%;
    height: 375px;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0px 10px;
    
}

.koszyk {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 15%;
}

.produkt > div {
    opacity: 1;
    z-index: 2;
}
.produkt > .hover {
  position:relative;
    background-color: #ff6f00;
    background-size: contain;
    width: 100%;
    height:100%;
    color: white;
    opacity: 0;
    z-index: 1;
    transition: all 0.5s;
}

.hover > img {
    position:absolute;
    width:25%;
    height:25%;
    align:center;
    top:37%;
    left:37%;
}


#produkt1 {
    background-image: url('http://zadania.akademia108.pl/attachments/download/675/product-1.jpg');
}

#produkt2 {
    background-image: url('http://zadania.akademia108.pl/attachments/download/684/product-2.jpg');
}

#produkt3 {
    background-image: url('http://zadania.akademia108.pl/attachments/download/708/product-3.jpg');
}

#produkt4 {
    background-image: url('http://zadania.akademia108.pl/attachments/download/714/product-4.jpg');
}



.produkt > div:hover {
    opacity: 0;
    z-index: 1;
}

.produkt > .hover:hover {
  opacity: 0.5;
  z-index: 2;
}
